# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Virtual env
venv/
.venv/

# macOS
.DS_Store

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Model artifacts
models/*.h5
models/*.keras